@media(min-width: 1440px){

    body{
        max-width: 1440px;
        margin: 0 auto;
    }

    .section_item_block_photo{
        width: 1100px;
        height: 750px;
    }

    .block_other_photo{
        left: 105%;
        top: 50%;
    }

}